@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
    border-bottom:1px solid #E3E6EB;
} 
.menulist-bg {
    background-color: white;
}

.my-collapse {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin-top: 10px;
    color: black;
}

.button {
    width: 150px;
    color: #fff !important;
    border-radius: 25px;
    background: #36C5BA;
    padding: 11px 0 12px;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    font-family: 'HK Grotesk Bold';
    border: 2px solid transparent;
}

.swiper-button-prev {
    /* color: black !important; */
    border-radius: 9999px !important;
    
}
.swiper-button-prev:after ,.swiper-button-next:after
{
    font-size: 14px !important;
    content: 'prev';
    border-radius: 9999px !important;
    border-width: 1px;
    color: #02363D !important;
    padding: 20px;
    width: 20x !important;
    height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    background: white;
}
.swiper-button-next{
    right: -14px !important;

}
.swiper-button-prev{
    left: -14px !important;

}
.swiper-button-prev, .swiper-button-next {
    z-index: 100000 !important; 
}
.collapse-item {
    border-top: 1px solid #DCDFE4 !important;
    padding: 24px 48px 24px 12px !important;
    width: 100%;
    max-width: 1000px !important;
    text-align: left;
    font-size: 22px;
    line-height: 28px;
    color: #02363D !important;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-between !important;
}

.jointeam {
    background: linear-gradient(90deg, #A8E6E1 0%, #EEC0AE 100%);
}
.css-1mcnwpj-MuiList-root, .css-1umppoh {
    max-width: 800px !important;
}
.swiper {
    overflow: inherit !important;
}
.swiper-button-disabled {
    display: none !important;
}
.swiper-slide:hover, .card:hover {
    box-shadow: 0px 20px 28px -12px rgba(0, 0, 0, 0.24);
}
@font-face {
    font-family: 'Tiempos Headline'; /* Tên font mà bạn muốn sử dụng */
    src: url('/public/TiemposHeadline-Bold.otf') format('opentype'); /* Đường dẫn đến font OTF */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    /* font-family: 'Tiempos Headline', sans-serif; Sử dụng font trong ứng dụng */
    font-family: 'hk-grotesk-semibold', sans-serif;
  }
  .header-intro {
        font-family: 'Tiempos Headline', sans-serif; 
  }
  .card-title {
    font-size: 18px;
    line-height: 24px;
    /* font-family: 'Tiempos Headline', sans-serif;  */

  }
  .productPageParah {
    width: 80%;
    font-size: 18px;
    line-height: 28px;
    color: #02363d;
    font-family: 'HK Grotesk Regular';
  }
  .MuiCollapse-wrapperInner {
    padding: 0 12px 24px 12px;
    font-size: 18px;
    line-height: 28px;
    color: #02363D;

  }